@using Restaurant.MVC.App_Helpers
<!-- Left panel : Navigation area -->
<!-- Note: This width of the aside area can be adjusted through LESS variables -->
<aside id="left-panel">

  <!-- User info -->
  @{ Html.RenderPartial("_CurrentUser"); }
  <!-- end user info -->
  <!-- NAVIGATION : This navigation is also responsive

  To make this navigation dynamic please make sure to link the node
  (the reference to the nav > ul) after page load. Or the navigation
  will not initialize.
  -->
  <nav>
    <!-- NOTE: Notice the gaps after each icon usage <i></i>..
    Please note that these links work a bit different than
    traditional href="" links. See documentation for details.
    -->

    <ul>
      <li class="@Html.RouteIf("Home", "active")">
        <a href="#" title="Dashboard">
          <i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">Dashboard</span>
        </a>
        <ul>
          <li class="@Html.RouteIf("Home/Index", "active")">
            <a href="@Url.Action("Index", "Home")" title="Dashboard">
              <span class="menu-item-parent">Overview </span>
            </a>
          </li>
        </ul>
      </li>

      @if (User.IsInRole("AprobareComenzi") || User.IsInRole("Admin"))
  {
    <li class="@Html.RouteIf("Aprobari", "active")">
      <a href="#" title="Aprobari">
        <i class="fa fa-lg fa-fw fa-thumbs-up"></i> <span class="menu-item-parent">Aprobari</span>
      </a>
      <ul>
        <li class="@Html.RouteIf("Aprobari/Index", "active")">
          <a href="@Url.Action("Index", "Aprobari")" title="Aprobare">
            <span class="menu-item-parent">Curente</span>
          </a>
        </li>
      </ul>
    </li>
}

      @if (User.IsInRole("Aprovizionare") || User.IsInRole("Admin"))
      { 
    <li class="@Html.RouteIf("Necesare", "active") @Html.RouteIf("Oferte", "active")">
      <a href="#" title="Aprovizionare">
        <i class="fa fa-lg fa-fw fa-cube"></i> <span class="menu-item-parent">Aprovizionare</span>
      </a>
      <ul>
        <li class="@Html.RouteIf("Necesare/Index", "active")">
          <a href="@Url.Action("Index", "Necesare")" title="Dashboard">
            <span class="menu-item-parent">Lista Necesare</span>
          </a>
        </li>

        <li class="@Html.RouteIf("Necesare/Create", "active")">
          <a href="@Url.Action("Create", "Necesare")" title="Dashboard">
            <span class="menu-item-parent">Adauga Necesar</span>
          </a>
        </li>

        <li class="@Html.RouteIf("Oferte", "active")">
          <a href="#" title="Dashboard">
            <i class=""></i> <span class="menu-item-parent">Cereri - Oferte</span>
          </a>
          <ul>
            <li class="@Html.RouteIf("Oferte/Index", "active")">
              <a href="@Url.Action("Index", "Oferte")" title="Dashboard">
                <span class="menu-item-parent">Manage</span>
              </a>
            </li>
          
          </ul>
        </li>
        <li class="@Html.RouteIf("Gestiune", "active")">
          <a href="#" title="Dashboard">
            <i class=""></i> <span class="menu-item-parent">Gestiune</span>
          </a>
          <ul>
            <li class="@Html.RouteIf("Stoc/Index", "active")">
              <a href="@Url.Action("Index", "Stoc")" title="Dashboard">
                <span class="menu-item-parent">Stocuri</span>
              </a>
            </li>
            <li class="@Html.RouteIf("Gestiune/BonTransferAdd", "active")">
              <a href="@Url.Action("BonTransferAdd", "Gestiune")" title="Dashboard">
                <span class="menu-item-parent">Bon transfer</span>
              </a>
            </li>
            <li class="@Html.RouteIf("Gestiune/BonConsumAdd", "active")">
              <a href="@Url.Action("BonConsumAdd", "Gestiune")" title="Dashboard">
                <span class="menu-item-parent">Bon consum</span>
              </a>
            </li>
          </ul>
        </li>

      </ul>
    </li>
      }


      @if (User.IsInRole("admin") || User.IsInRole("beneficiary_admin"))
  {
    <li class="@Html.RouteIf("RolesAdmin;UsersAdmin", "active")">
      <a href="#" title="Products">
        <i class="fa fa-lg fa-fw fa fa-users"></i> <span class="menu-item-parent">Users Administration</span>
      </a>
      <ul>
        <li class="@Html.RouteIf("UsersAdmin", "active")">
          <a href="@Url.Action("Index", "UsersAdmin")" title="Dashboard">
            <span class="menu-item-parent"> Users</span>
          </a>
        </li>
        @if (User.IsInRole("admin"))
    {
      <li class="@Html.RouteIf("RolesAdmin", "active")">
        <a href="@Url.Action("Index", "RolesAdmin")" title="Dashboard">
          <span class="menu-item-parent"> Roles</span>
        </a>
      </li>
}
        <li class="@Html.RouteIf("UserService", "active")">
          <a href="@Url.Action("Index", "UserService")" title="Dashboard">
            <span class="menu-item-parent"> Service Users</span>
          </a>
        </li>
      </ul>
    </li>
}

      <li class="@Html.RouteIf("Manage", "active")">
        <a href="#" title="User">
          <i class="fa fa-lg fa-fw fa fa-user"></i> <span class="menu-item-parent">User</span>
        </a>
        <ul>
          <li class="@Html.RouteIf("Manage/Index", "active")">
            <a href="@Url.Action("Index", "Manage")" title="User">
              <span class="menu-item-parent">Manage</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
  <span class="minifyme" data-action="minifyMenu" style=""> <i class="fa fa-arrow-circle-left hit"></i> </span>

</aside>
<!-- END NAVIGATION -->